name: Github Pipeline

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string

jobs:
  example_job:
    name: Pass input to pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Greeting
        run: echo Hello ${{ inputs.username }}... and welcome to the future!
